{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint/eslint-plugin", "eslint-plugin-node"],
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "ignorePatterns": [".eslintrc.js"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_", "ignoreRestSiblings": true }],
    "consistent-return": "error",
    "curly": "error",
    "import/order": "off",
    "no-await-in-loop": "error",
    "spaced-comment": "error"
  },
  "overrides": [
    {
      "files": ["**/*.spec.ts"],
      "rules": {
        "max-nested-callbacks": "off"
      }
    }
  ]
}
